<%= flash[:notice] %>
<h1>Your Bookmarks:</h1>
<button type="submit" form="edit_bm" formaction="/bookmarks/add" formmethod="get" value="add">Add Bookmark</button>
<button type="submit" form="edit_bm" formaction="/bookmarks/edit" formmethod="get" value="update">Edit Bookmark</button>
<button type="submit" form="edit_bm" formaction="/delete" formmethod="post" value="delete">Delete Bookmark</button>

<form id="edit_bm" >
  <% if @bookmarks.empty? %>
    <p>Press 'add' to add a bookmark!</p>
  <% else %>
  <h3>Select bookmarks to edit</h3>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li>
          <input type="checkbox" name='<%= bookmark.alias %>' value='<%= bookmark.url %>'>
          <a href = <%= bookmark.url %>><%= bookmark.alias %></a>
        </li>
      <% end %>
    </ul>
  <% end %>
</form>